thead,
tfoot {
    background-color: rgba(137, 108, 29, 0.937);
    color: #fff;
}

tbody {
    background-color: rgba(215, 197, 149, 0.5);
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: separate;
    border: none;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border-style: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
}
td {
    text-align: center;
    color: black;
}
