* {
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    border-radius: 0 8px 8px 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(47, 138, 199, 0.367);
    border-radius: 8px 8px 8px 8px;
    width: 5px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin: 50px auto;
}

.col-25 {
    float: left;
    width: 51%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 49%;
    overflow: visible;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }
}

.dropbtn {
    background-color: rgba(184, 205, 225, 1);
    color: black;
    padding: 10px;
    min-width: 160px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {

    background-color: rgba(47, 138, 199, 0.712);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(184, 205, 225, 1);
    min-width: 160px;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin: 5px 0 0 0;
}


.dropdown-button {
    width: 147px;
    min-height: 30px;
    order: none;
    border-radius: 5px;
    padding: 5px;
    margin: 6px;
    background: none;
    color: black;
    border: none;
    font: inherit;
    font-weight: 300;
    cursor: pointer;
    outline: inherit;
}

.dropdown-button:hover {
    cursor: pointer;
    background-color: rgba(47, 138, 199, 0.712);
}

.show {
    display: block;
}

#district-description.active {
    min-width: 432px;
    max-width: 536px;
    background-color: rgb(253, 244, 220);
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}

#district-description.active::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 0 8px 8px 0;
}

#district-description.active::-webkit-scrollbar-thumb {
    background-color: rgba(169, 165, 165, 0.250);
    border-radius: 8px 8px 8px 8px;
    width: 5px;
}

.info-wrapper {
    height: fit-content;
    margin: 20px;
    display: grid;
    grid-template-columns: 5ch auto;
    max-width: inherit;
    padding: 0;
}

.bullet {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;

    background: rgba(215, 197, 149, 0.5);
    border: 2px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    text-align: center;
    box-sizing: content-box;
    font: 19px Arial, sans-serif;
}

.info {
    padding: 5px 5px 5px 20px;
    text-align: left;
    background-color: rgba(215, 197, 149, 0.5);
    border-radius: 8px;
    font-size: 20;
    display: inline;
    color: rgb(102, 102, 102);
}

.info-list {
    padding: 0;
}

.heading {
    font-size: 22;
    font-weight: 600;
    margin: 0 10px 10px 10px;
    padding: 5px;
}
.error {
    margin: 5px 20px 0 27px;
    width: 27vw;
    height: fit-content;
    padding: 0px 13px;
    font-size: 90%;
    border-style: none;
    color: rgb(181, 13, 13);

    box-sizing: border-box;
}